@import "fullcalendar.css";
@import "table.css";

.my-chart-tooltip {
  /* border-radius: 9px; */
  background: #3a4569;
  box-shadow: 0px 9px 34px rgba(41, 45, 50, 0.29);
  color: white;
  letter-spacing: 0.75px;
  font-size: 12px;
  font-weight: 500;
  width: 63px;
  height: 39px;
  outline: unset;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}
